<section class="mt-5 mx-5 text-light">
  <h1>PelisUP!</h1>
  <h6>Plataforma para ver películas y Series 😉</h6>
</section>

<section class="my-5 mx-5">
  <div class="mb-3 input-group">
    <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-search"></i></span>
    <input type="search" class="form-control" id="exampleFormControlInput1" placeholder="Buscar películas y series">
  </div>
</section>
<section class="my-5 mx-5">
  <div class="btn-group">
    <button class="btn btn-outline-info" [ngClass]="filter === 'Todos' ? 'btn-selected' :''" role="button"
      (click)="changeFilter('Todos')">Todos</button>
    <button class="btn btn-outline-info" [ngClass]="filter === 'Peliculas' ? 'btn-selected' :''" role="button"
      (click)="changeFilter('Peliculas')">Peliculas</button>
    <button class="btn btn-outline-info" [ngClass]="filter === 'Series' ? 'btn-selected' :''" role="button"
      (click)="changeFilter('Series')">Series</button>
  </div>
</section>

<section class="my-5 mx-5">
  <div class="my-3 d-flex text-light">
    <h2>Todos</h2>
    <h6>({{movies_series.length}})</h6>
  </div>
  
  <div class="container">
      <div class="row" *ngIf="filter === 'Todos'">
          <div class="col-3 my-3" *ngFor="let item of movies_series">
              <app-movie-card [title]="item.title || item.name" [img]="'https://www.themoviedb.org/t/p/w220_and_h330_face' + item.poster_path"></app-movie-card>
          </div>
      </div>
      <div class="row" *ngIf="filter === 'Peliculas'">
          <div class="col-3 my-3" *ngFor="let item of movies">
              <app-movie-card [title]="item.title || item.name" [img]="'https://www.themoviedb.org/t/p/w220_and_h330_face' + item.poster_path"></app-movie-card>
          </div>
      </div>
      <div class="row" *ngIf="filter === 'Series'">
          <div class="col-3 my-3" *ngFor="let item of series">
              <app-movie-card [title]="item.title || item.name" [img]="'https://www.themoviedb.org/t/p/w220_and_h330_face' + item.poster_path"></app-movie-card>
          </div>
      </div>
  </div>
</section>