<div class="container-fluid caja">
    <div class="text-light bienvenido pb-5">
        <h1>Bienvenido</h1>
    </div>
    <div class="row">
        <div class="col-6">
            <div (click)="redirectTo('peliculas')" class="cuadritos d-flex text-center flex-column card">
                <h4>{{totalPeliculas}}</h4>
                <p>Películas</p>
            </div>
        </div>
        <div class="col-6">
            <div (click)="redirectTo('series')" class="cuadritos d-flex text-center flex-column">
                <h4>00</h4>
                <p>Series</p>
            </div>
        </div>
    </div>
</div>