<div class="row row-cols-1 row-cols-sm-4 g-4">
    <div class="col">
      <div class="card">
        <img
          src="assets/MV5BZGRlNTY3NGYtM2YzZS00N2YyLTg0ZDYtNmY2ZDg2NDM3N2JlXkEyXkFqcGdeQXVyNTI4MzE4MDU@._V1_FMjpg_UX1000_.jpg"
          class="card-img-top" alt="...">
        <div class="card-body text-light">
          <p class="card-text">Black Widow</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/shang-chi-poster-1627653951968.jpg" class="card-img-top" alt="...">
        <div class="card-body text-light">
          <p class="card-text">Shang Chi</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/Loki_Serie_de_TV-814995520-large.jpg" class="card-img-top" alt="...">
        <div class="card-body text-light">
          <p class="card-text">Loki</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/thumb-352659.jpg" class="card-img-top" alt="...">
        <div class="card-body text-light">
          <p class="card-text">How I Met Your Mother</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/MV5BMGUyOTFkMzUtOTQ5ZC00YjMzLWIyMGMtOWU2M2VkMDMxZTRjXkEyXkFqcGdeQXVyNjU1NzU3MzE@._V1_.jpg"
          class="card-img-top" alt="...">
        <div class="card-body text-light">
          <p class="card-text">Money Heist</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img
          src="assets/MV5BNDVkYjU0MzctMWRmZi00NTkxLTgwZWEtOWVhYjZlYjllYmU4XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_FMjpg_UX1000_.jpg"
          class="card-img-top" alt="...">
        <div class="card-body text-light">
          <p class="card-text">Friends</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/dest_1.webp" class="card-img-top" alt="...">
        <div class="card-body text-light">
          <p class="card-text">The Big Bang Theory</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/x4wcleGQufuxrgSIvbv8c0j6zCA.jpg" class="card-img-top" alt="...">
        <div class="card-body text-light">
          <p class="card-text">Two And a Half Men</p>
        </div>
      </div>
    </div>
  </div>

